<head>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    {{>header}}
    {{>footer}}
    <img src="/img/ar.JPG" width="300px">
    <br><br>
    A few thigs about me and my work. 

</body>    

