<head>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    {{>header}}
    {{>footer}}
    Some helpful text should be here.<br>
     Some helpful text should be here.<br>
      Some helpful text should be here.
</body>    
